# Ensure uvicorn is listed like this (the simplest form):
uvicorn
# OR, the most robust form:
uvicorn[standard]
# ... along with all your other libraries:
fastapi
pandas
numpy==1.26.4
pymongo
joblib
prophet
requests
